[submodule "confine"]
	path = confine
	url = http://git.confine-project.eu/confine.git
[submodule "olsrd-ccninfo"]
	path = olsrd-ccninfo
	url = gitosis@git.confine-project.eu:confine/clone/olsrd-ccninfo.git
[submodule "core-ccn"]
	path = core-ccn
	url = git@bitbucket.org:clauz/core-ccn.git
[submodule "ccnx"]
	path = ccnx
	url = gitosis@git.confine-project.eu:confine/clone/ccnx.git
